# Data Sets
and some piplines

## Library

In [16]:
# Basic
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import pickle

# Algorithms
from supervised.automl import AutoML
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier 


# pretrained
from sklearn.model_selection import train_test_split
    # StandardScaler(), KFold()
from sklearn import model_selection
from 
# model 
models = []
models.append(('knn', KNeighborsClassifier()))
models.append(('dtree', DecisionTreeClassifier()))
models.append(('svm', SVC()))
# evaluation
from sklearn.metrics import accuracy_score,roc_curve, confusion_matrix, classification_report

results = []
names = []
scoring = ['accuracy', 'ROC', 'Precision', 'Recall', 'MCC']

## Data

In [ ]:
# ADULT, COV TYPE and LETTER
url1 = "https://archive.ics.uci.edu/ml/datasets/Letter+Recognition"
url2 = "https://archive.ics.uci.edu/ml/datasets/covertype"
url3 = "https://archive.ics.uci.edu/ml/datasets/Adult"
# Other available dataset. All contribute to Classification
url4 = 'https://archive.ics.uci.edu/ml/datasets/Avila'
url5 = 'https://archive.ics.uci.edu/ml/datasets/Census+Income'
url6 = 'https://archive.ics.uci.edu/ml/datasets/Nursery'
url7 = 'https://archive.ics.uci.edu/ml/datasets/User+Profiling+and+Abusive+Language+Detection+Dataset'
url8 = 'https://archive.ics.uci.edu/ml/datasets/MEx' # time series

In [19]:
! pwd

/Users/anthea-mac/Documents/FA20/COGS118A/Final Project/notebooks

In [33]:
avlang = pd.read_csv('../data/train/avl_set/avila-tr.txt', header=None)
adult_raw = pd.read_csv('../data/train/adult/adult.data')
# abt_raw = pd.read_csv('../data/train/abt_set/Tweets.csv', header=None)
house_raw = pd.read_csv('../data/train/house_set/household_power_consumption.txt',sep=';')
nursey_raw = pd.read_csv('../data/train/nursey/nursery.data')

print('The shape of raw User+Profiling+and+Abusive+Language+Detection+Dataset  is ' ,avlang.shape)
display(avlang.head())
print("")
print("")
print('The shape of raw adult data set is', adult_raw.shape)
display(adult_raw.head())
print("")
print("")
print('The shape of raw household poswer of consumption data set is', house_raw.shape)
display(house_raw.head())
print("")
print("")
print('The shape of raw nursery data set is', nursey_raw.shape)
display(nursey_raw.head())
print("")
print("")
avlang.sample(n=5000, replace=False).to_csv('./data/avl.csv', index=False)
adult_raw.sample(n=5000, replace=False).to_csv('./data/adult.csv', index=False)
house_raw.sample(n=5000, replace=False).to_csv('./data/income.csv', index=False)
nursey_raw.sample(n=5000, replace=False).to_csv('./data/nsr.csv', index=False)

The shape of raw User+Profiling+and+Abusive+Language+Detection+Dataset  is  (10430, 11)

,0,1,2,3,4,5,6,7,8,9,10
0,0.266074,-0.165620,0.320980,0.483299,0.172340,0.273364,0.371178,0.929823,0.251173,0.159345,A
1,0.130292,0.870736,-3.210528,0.062493,0.261718,1.436060,1.465940,0.636203,0.282354,0.515587,A
2,-0.116585,0.069915,0.068476,-0.783147,0.261718,0.439463,-0.081827,-0.888236,-0.123005,0.582939,A
3,0.031541,0.297600,-3.210528,-0.583590,-0.721442,-0.307984,0.710932,1.051693,0.594169,-0.533994,A
4,0.229043,0.807926,-0.052442,0.082634,0.261718,0.148790,0.635431,0.051062,0.032902,-0.086652,F

The shape of raw adult data set is (32560, 15)

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

The shape of raw household poswer of consumption data set is (2075259, 9)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

The shape of raw nursery data set is (12959, 9)

,usual,proper,complete,1,convenient,convenient.1,nonprob,recommended,recommend
0,usual,proper,complete,1,convenient,convenient,nonprob,priority,priority
1,usual,proper,complete,1,convenient,convenient,nonprob,not_recom,not_recom
2,usual,proper,complete,1,convenient,convenient,slightly_prob,recommended,recommend
3,usual,proper,complete,1,convenient,convenient,slightly_prob,priority,priority
4,usual,proper,complete,1,convenient,convenient,slightly_prob,not_recom,not_recom

In [35]:
avl = pd.read_csv('./data/avl.csv')
ad = pd.read_csv('./data/adult.csv')
income = pd.read_csv('./data/income.csv')
nsr = pd.read_csv('./data/nsr.csv')

## EDA

## Methodology

## Conclusion

In [ ]:
# prepare configuration for cross validation test harness
seed = 7
for name, model in models:
	kfold = model_selection.KFold(n_splits=10, random_state=seed)
	cv_results = model_selection.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
	results.append(cv_results)
	names.append(name)
	msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
	print(msg)
# boxplot algorithm comparison
fig = plt.figure()
fig.suptitle('Algorithm Comparison')
ax = fig.add_subplot(111)
plt.boxplot(results)
ax.set_xticklabels(names)
plt.show()