# Data Sets
and some piplines

## Library

In [141]:
# Basic
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import seaborn as sns
from pprintpp import pprint
import timeit 

# preprocessing
    # StandardScaler(), KFold()
from sklearn.preprocessing import  StandardScaler,  OneHotEncoder
from sklearn.compose import make_column_selector as selector
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer 
# selecting model  
from sklearn.model_selection import train_test_split,KFold,GridSearchCV,validation_curve, learning_curve
    # Algorithms
from supervised.automl import AutoML
from sklearn.utils.fixes import loguniform
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier 
from sklearn.pipeline import Pipeline

models = []
models.append(('knn', KNeighborsClassifier()))
models.append(('dtree', DecisionTreeClassifier()))
models.append(('svm', SVC()))
# evaluation
from sklearn.metrics import f1_score, accuracy_score,roc_curve, confusion_matrix,classification_report

"""
* The DataFrame: 
    group1: ACC, FSC, LFT
    group2: ROC, APR, BEP
    group3: RMS, MXE
    group4: OPT-SELS
    - The **threshold** metrics are accuracy(ACC), F-score(FSC) and lift(LFT).
    - The **rank metrics** we use are area under the ROC curve (ROC),average precision(APR), and precision/recall break even point (BEP).
    - The **probability metrics**,squared error(RMS) and cross-entropy (MXE),interpret the predicted value of each case as the conditional probability of that case being in the positive class.
    - The last column,***OPT-SEL***,is the mean normalized score for the eight metrics when model selection is done by cheating and looking at the final testsets.(dont understand either.....)

* Within the Matric: 
    - The algorithm with the best performance on each metric is ***boldfaced***. Using t-test p= 0.05, others are *'ed in three trails if they still have good performance.
    
    """
seed = 7
results = []
names = []
prec, rec = 1, 1
def bep(y_true, y_pred):
    precision()
    return precision/recall
scorings = {"ACC": 'accuracy', 
            'FSC': 'f1', 
            'LFT': 'lift',
            # ROC, APR, BEP
            'ROC': 'roc_auc',
            "APR" : 'average_precision',
            "BEP" : bep(prec, rec),
            # RMS, MXE
            'RMS': 'mean_squared_error',
            'MXE': 'max_error',
            #OPT-SELS
            'OPT-SELS': 'mm'}

## Data

In [ ]:

url1 = "https://archive.ics.uci.edu/ml/datasets/Adult"
url2 = 'https://archive.ics.uci.edu/ml/datasets/Avila'
url3 = 'https://archive.ics.uci.edu/ml/datasets/Nursery'
url4 = 'http://archive.ics.uci.edu/ml/datasets/Individual+household+electric+power+consumption'

### Dataset Information
1. ADULT
    * TARGET: >50K, <=50K.
    * VARIABLES/ ATTRIBUTES: ['age','workclass','fnlwgt','education',
    'education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country']
2.  AVILA
    * TARGET: {Class: A, B, C, D, E, F, G, H, I, W, X, Y}
    * VARIABLES/ ATTRIBUTES: ['0', '1', '2', '3', '4', '5', '6', '7', '8', 
    '9']
3. NURSERY
    * TARGET: NURSERY
    * VARIABLES/ ATTRIBUTES: nry_var = ['parents', 'has_nurs', 'form', 'children', 'housing','finance', 'social', 'health']
4. HOUSEHOLD POWER 
    * Time series
    * VARIABLES/ ATTRIBUTES: ['Date', 'Time', 'Global_active_power', 'Global_reactive_power',
       'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
       'Sub_metering_3']
    * For EC!

In [74]:

'''
get_df_name(df): 
    input: a dataframe.
    output: the name of this dataframe.
check_dataset(dataset): 
    goal: make sure fulfill the requirements of the dataset choice.
    input: a list of dataframes.
    output: print out the size information of each dataframe.
check_sample(dataset):
    goal: make sure choosing 5000 samples randomly.
    input: a list of dataframes:
    output: print out the size of information of each sampled dataframe.
'''

def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

def check_dataset(dataset):
    for i in dataset:
        if i.shape[0]>=10000:
            print('Dataset '+ get_df_name(i)+" fulfill the size requirements in the project having "+ str(i.shape[0])+" samples, which is over or equal to 10,000")
    return

def check_sample(dataset):
    for i in dataset:
        if i.shape[0]==5000:
            print('Successfully randomly choosing 5000 data samples from ' +get_df_name(i)+" dataset")
    return

In [82]:
print('Start on reading raw data')
avlang = pd.read_csv('../data/train/avl_set/avila-tr.txt', header=None)
print('-')
adult_raw = pd.read_csv('../data/train/adult/adult.data', header=None)
print('-')
house_raw = pd.read_csv('../data/train/house_set/household_power_consumption.txt',sep=';')
print('-')
nursey_raw = pd.read_csv('../data/train/nursey/nursery.data',header=None)
print('-')
data_set = [avlang,adult_raw,house_raw,nursey_raw]
print('Finish reading 4 datasets ')
print('')
print('-')
print('Checking Dataset Size of datasets')
print(" .......")
check_dataset(data_set)
print(" .......")
print('Finish checking dataset')
print("")
print("")
print(".....StartRandome Sampling......")
print('Start sampling avlang dataset')
avlang.sample(n=5000, replace=False).to_csv('./data/avl.csv', index=False)
print(' Finished')
print('Start sampling adult dataset')
adult_raw.sample(n=5000, replace=False).to_csv('./data/adult.csv', index=False)
print(' Finished')
print('Start sampling house_income dataset')
house_raw.sample(n=5000, replace=False).to_csv('./data/income.csv', index=False)
print(' Finished')
print('Start sampling nursery dataset')
nursey_raw.sample(n=5000, replace=False).to_csv('./data/nsr.csv', index=False)
print(' Finished')
print("......")
print('Finish randome sampling, waiting for check')
print('Please continue to run.')

Start on reading raw data
-
-
-
-
Finish reading 4 datasets

-
Checking Dataset Size of datasets
 .......
Dataset avlang fulfill the size requirements in the project having 10430 samples, which is over or equal to 10,000
Dataset adult_raw fulfill the size requirements in the project having 32561 samples, which is over or equal to 10,000
Dataset house_raw fulfill the size requirements in the project having 2075259 samples, which is over or equal to 10,000
Dataset nursey_raw fulfill the size requirements in the project having 12960 samples, which is over or equal to 10,000
 .......
Finish checking dataset


.....StartRandome Sampling......
Start sampling avlang dataset
 Finished
Start sampling adult dataset
 Finished
Start sampling house_income dataset
 Finished
Start sampling nursery dataset
 Finished
......
Finish randome sampling, waiting for check
Please continue to run.

In [93]:
print('Start checking size of training dataset')
print(' ......')
avl = pd.read_csv('./data/avl.csv')
ad = pd.read_csv('./data/adult.csv')
pwr = pd.read_csv('./data/income.csv')
nsr = pd.read_csv('./data/nsr.csv')

training = [avl, ad, pwr, nsr]
check_sample(training)
print(" .....")
print('Finish checking training dataset')
print('Sizes for All training samples dataset are :', avl.shape, ad.shape, pwr.shape, nsr.shape)

Start checking size of training dataset
 ......
Successfully randomly choosing 5000 data samples from avl dataset
Successfully randomly choosing 5000 data samples from ad dataset
Successfully randomly choosing 5000 data samples from pwr dataset
Successfully randomly choosing 5000 data samples from nsr dataset
 .....
Finish checking training dataset
Sizes for All training samples dataset are : (5000, 11) (5000, 15) (5000, 9) (5000, 9)

## EDA

### Data Cleaning

In [95]:
# Add missing variable names
# specify target columns
ad_var = ['age','workclass','fnlwgt','education',
    'education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','target']
ad.columns = ad_var
nsr_var = ['parents', 'has_nurs', 'form', 'children', 'housing','finance', 'social', 'health','target']
nsr.columns = nsr_var
avl=avl.rename(columns={"10":'target'})
pwr = pwr.rename(columns= {'Voltage': 'target'})
display(ad.head())
display(avl.head())
display(pwr.head())
display(nsr.head())

Add missing variable names

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,40,Federal-gov,544792,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
1,54,Private,171924,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,<=50K
2,23,Private,133061,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,80,United-States,<=50K
3,18,Private,353358,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,16,United-States,<=50K
4,19,Private,164395,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,25,United-States,<=50K

,0,1,2,3,4,5,6,7,8,9,target
0,0.229043,-0.016448,0.317424,-0.526838,0.261718,-0.058835,0.635431,-0.561067,-0.185368,-0.268865,F
1,0.006853,-0.181323,0.388552,0.301377,-0.095795,0.730137,0.371178,0.265990,0.219991,0.572511,A
2,0.290762,0.077766,0.118265,0.275805,0.261718,0.107265,0.144676,0.217996,-0.341275,0.150750,F
3,0.031541,-0.040001,0.175168,-0.107256,0.261718,2.515706,0.748682,-1.468097,-0.746634,1.891487,F
4,0.599358,-0.377602,0.242739,-0.151028,0.976743,-1.221530,-1.138838,1.187639,1.560794,-0.404919,I

,Date,Time,Global_active_power,Global_reactive_power,target,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,25/1/2010,10:47:00,1.444,0.088,242.600,5.800,0.000,0.000,19.0
1,14/11/2007,10:54:00,1.360,0.000,237.830,5.600,0.000,0.000,18.0
2,21/1/2007,14:19:00,1.758,0.406,243.950,7.400,0.000,0.000,18.0
3,9/1/2009,18:14:00,3.358,0.000,239.730,14.000,0.000,0.000,17.0
4,17/6/2009,23:43:00,0.428,0.076,242.830,1.800,0.000,0.000,1.0

,parents,has_nurs,form,children,housing,finance,social,health,target
0,pretentious,critical,incomplete,more,less_conv,inconv,problematic,priority,spec_prior
1,great_pret,improper,incomplete,2,critical,inconv,slightly_prob,recommended,spec_prior
2,usual,proper,completed,1,less_conv,inconv,slightly_prob,not_recom,not_recom
3,pretentious,improper,foster,3,less_conv,inconv,nonprob,not_recom,not_recom
4,usual,less_proper,foster,2,convenient,convenient,problematic,priority,priority

#### nan value

In [ ]:
ad = pd.read_csv('./data/adult.csv')
print (ad.shape)

In [ ]:
ad_var = ['age','workclass','fnlwgt','education',
    'education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','target']
ad.columns = ad_var
display(ad.head(30))

In [ ]:
'''
 While we know from dataset that education and education-num are corresponded to each other,
1. We could assign category and order, based on its value, to education column and drop education-num column
2. 'fnlwgt' column could also be dropped since it is the final weight-- the number of people the census believes. Therefore, such column has no contibution to predition.
3. sign 0 and 1 to target, which will make the work easier.
'''
ad = ad.drop(['education-num','fnlwgt'])

In [129]:
for col in ad:
    print(col,ad[col].unique(), " \n")
# find out non-meaning cell and replace with nan
# find our extreme numbers such as 0 and 9999 in int/float series and replace them with nan
# here we find " ?" in ['occupation', 'workclass', 'native-country']
# and extreme numbers 0 and 99999 in ['capital-loss','capital-gain']
# In addition , in order to aviod mess, we use copy of dataframe instead operating directly on it.
copy=ad.copy()
copy = copy.replace({' ?': np.nan, 0: np.nan, 99999: np.nan, })
copy.info()

age [40 54 23 18 19 37 24 42 48 38 49 22 47 41 57 61 56 51 34 59 31 30 68 53
 33 35 44 50 26 60 32 20 27 45 46 55 36 25 52 62 58 63 29 17 43 70 39 28
 69 64 21 73 75 66 67 65 72 76 90 79 71 88 77 81 80 74 84 78 82]

workclass [' Federal-gov' ' Private' ' Local-gov' ' Self-emp-inc' ' ?' ' State-gov'
 ' Self-emp-not-inc' ' Never-worked' ' Without-pay']

fnlwgt [544792 171924 133061 ...  33729 229803 312206]

education [' Some-college' ' HS-grad' ' Bachelors' ' Masters' ' Doctorate'
 ' Prof-school' ' 7th-8th' ' Assoc-acdm' ' 11th' ' 12th' ' Assoc-voc'
 ' 10th' ' 9th' ' 5th-6th' ' 1st-4th' ' Preschool']

education-num [10  9 13 14 16 15  4 12  7  8 11  6  5  3  2  1]

marital-status [' Married-civ-spouse' ' Never-married' ' Separated' ' Divorced'
 ' Widowed' ' Married-spouse-absent' ' Married-AF-spouse']

occupation [' Farming-fishing' ' Transport-moving' ' Sales' ' Other-service'
 ' Adm-clerical' ' Tech-support' ' Exec-managerial' ' Prof-specialty' ' ?'
 ' Craft-repair' ' Handlers-cleaners' ' Machine-op-inspct'
 ' Protective-serv' ' Priv-house-serv' ' Armed-Forces']

relationship [' Husband' ' Own-child' ' Unmarried' ' Not-in-family' ' Other-relative'
 ' Wife']

race [' White' ' Black' ' Amer-Indian-Eskimo' ' Asian-Pac-Islander' ' Other']

sex [' Male' ' Female']

capital-gain [    0 99999 15024  2580  3103  4787  5178  2009  4650  7688  4064  3411
  4101  2653  4386  6497  5013  7298  1797 10520  3418  3325  8614  1506
  2597 27828 14344  1848  2346   594  3674  2354  4865  2407  6849  2964
  3137  3908  2977  2829 13550  3942  1151  2635   114 14084 10605  3781
  9386  2885  5556  1055  2329  9562  5455  1424  2174 20051  7443  7430
  2414  6418  2907  3887  4416  2961 15831 15020 34095  2463  6097   991
  4508  2062  2050  3464  7896 41310  2936  7978  1409  4687]

capital-loss [   0 1887 1902 1980 1848 1672 1602 2002 1977 1740 1617 2377 1408 2559
 1974 2258 2174 1719  625 1504 2201 1579 1485 2179 3683 1092 1628 2339
 4356 2754 2231 2246 1669 2042 2415 1564 1590  880 1876 1741 1258 1816
 1762  323 2824 2001 2205  653 1573 2392 2051 2057 2129 2603 1594  974
 1825 1721 2444 3004 1651]

hours-per-week [40 70 80 16 25 50 35 45 43 60 30 99 17 46 20 38 55 32 56 39 21 37 52 24
 48 44 49 36 15 10  7 72  6 22 58 13 42 19 84 28 23 12  4 41  8 18 33 54
 64  2 11 65 91 75 47 67 53  9 63 81 62 90 77 26  5  1 27 76 14 85  3 29
 95 78 34 73 98 57 88 51 61]

native-country [' United-States' ' ?' ' Columbia' ' Germany' ' Puerto-Rico' ' Mexico'
 ' Vietnam' ' Dominican-Republic' ' Canada' ' India' ' England' ' South'
 ' Guatemala' ' Haiti' ' China' ' Iran' ' Japan' ' Philippines'
 ' Nicaragua' ' Scotland' ' Cuba' ' Taiwan' ' France' ' Poland' ' Italy'
 ' El-Salvador' ' Laos' ' Ireland' ' Peru' ' Thailand' ' Greece'
 ' Jamaica' ' Hong' ' Cambodia' ' Yugoslavia' ' Portugal'
 ' Outlying-US(Guam-USVI-etc)' ' Honduras' ' Trinadad&Tobago' ' Ecuador']

target [' <=50K' ' >50K']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             5000 non-null   int64
 1   workclass       4703 non-null   object
 2   fnlwgt          5000 non-null   int64
 3   education       5000 non-null   object
 4   education-num   5000 non-null   int64
 5   marital-status  5000 non-null   object
 6   occupation      4701 non-null   object
 7   relationship    5000 non-null   object
 8   race            5000 non-null   object
 9   sex             5000 non-null   object
 10  capital-gain    5000 non-null   int64
 11  capital-loss    5000 non-null   int64
 12  hours-per-week  5000 non-null   int64
 13  native-country  4901 non-null   object
 14  target          5000 non-null   object
dtypes: int64(6), object(9)
memory usage: 586.1+ KB

In [ ]:
plt.figure(figsize=(20,15))
plt.bar(list(copy['education'].value_counts().index),list(copy['education'].value_counts()),color='red')
plt.bar(list(copy['education'].value_counts().index),list(copy['education-num'].value_counts()),color='blue')
# blue layer completely covered the red layer with the same values
# Therefore, we could prove that these two columns are exactly same and exclude one of them
# In order to be more effeciency, we drop education column.

In [ ]:
'''
1. While we know from dataset and the figures showing above that education and education-num are corresponded to each other, we drop education column here.
2. 'fnlwgt' column could also be dropped since it is the final weight-- the number of people the census believes. Therefore, such column has no contibution to predition.
3. we only have hundreds of capital-gain and capital-loss record, these can be excluded. 
3. sign 0 and 1 to target, which will make the work easier.
'''
def incomeFixer(x):
    if x == " <=50K":
        return 0
    else:
        return 1
# with same aim, we use copy_drop to drop some columns
cp_dp=copy.copy()
col = 'education'
cp_dp["target"] = cp_dp.apply(lambda x: incomeFixer(x['target']), axis=1)
cp_dp = cp_dp.drop(columns=[col,'fnlwgt','capital-gain','capital-loss'])
display(cp_dp.info())
cp_dp.isna().sum()

In [ ]:
cp_dp.columns

From above, it shows that there are relatively small amount of missing values all from columns which are object types:

    - Categorical data with text that needs encoded: ['workclass', 'marital-status', 'occupation','relationship', 'race', 'sex', , 'native-country']
    - Categorical data that has null values: ['workclass','occupation','native-country']

However, I do not want to simply dropna() to handle these missing values, there must be smarter ways such as Replace by most frequent value.

we could also see that most of our columns are object while categorical, we could encode them using Integer Encoding/ One Hot Encoding/ Learned Embedding. 

But these how can we find the most effecient way to handle missing value and encode strings? 

1. We certainly need to practive on CategoricalImputer()

2. For the encoding part, we could combine the inputer with encode to have a pipline for preprocessing.

3. For extra credit, we could conbine these steps with a regular training-predicting process and use gradsearch to find out the best parameters and hyperparameters and try on BaseNEncoder to find the answer Later

We could design unique **pipeline** for these preprocessing steps while along with the training processes using gridsearchCV to find our best parameters as well as best hyperparameters.

In [ ]:
# this function help us to fillna
categorical_missing = ['workclass','occupation','native-country']
def impute_nan_most_frequent_category(DataFrame,ColName):
    # .mode()[0] - gives first category name
     most_frequent_category=DataFrame[ColName].mode()[0]
    
    # replace nan values with most occured category
     DataFrame[ColName + "_Imputed"] = DataFrame[ColName]
     DataFrame[ColName + "_Imputed"].fillna(most_frequent_category,inplace=True)
     DataFrame[ColName] = DataFrame[ColName + "_Imputed"]
     DataFrame = DataFrame.drop([ColName + "_Imputed"], axis = 1)
     return DataFrame

for Columns in categorical_missing:
    clnd = impute_nan_most_frequent_category(cp_dp,Columns)
clnd.info()

In [ ]:
numeric_features = ['age','hours-per-week','education-num']
categorical_features = ['workclass', 'marital-status', 'occupation','relationship', 'race', 'sex', 'native-country']
y = cp_dp.target
X = cp_dp.drop(columns=['target'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

categorical_transformer = Pipeline(
    [
        ('imputer_cat', SimpleImputer(strategy = 'constant', fill_value = 'missing')),
        ('onehot', OneHotEncoder(handle_unknown = 'ignore'))
    ]
)
numeric_transformer = Pipeline(
    [
        ('imputer_num', SimpleImputer()),
        ('scaler', StandardScaler())
    ]
)
preprocessor = ColumnTransformer(
    [
        ('categoricals', categorical_transformer, categorical_features),
        ('numericals', numeric_transformer, numeric_features)
    ],
    remainder = 'drop'
)
params = [{'classifier':[KNeighborsClassifier()],
    'classifier__n_neighbors' : [1,3,5,10,20,30,50],
    'classifier__weights': ['uniform', 'distance'],
    'classifier__algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']}]
pipeline = Pipeline(
    [
        ('preprocessing', preprocessor),
        ('classifier', KNeighborsClassifier())
    ]
)

In [ ]:
%%timeit
s_scores = ['f1', 'accuracy']
for score in s_scores:
    print("# Tuning hyper-parameters for %s" % score)
    print()
    clf = GridSearchCV(
        pipeline, params, scoring=score,cv=5,
        n_jobs=-1,refit=callable)
    clf.fit(X_train, y_train)
    print("**pipeline**:", [name for name, _ in pipeline.steps])
    print("parameters:")
    pprint(params)

    print("Best parameters set found on development set:")
    print(" ",clf.best_params_)
    print("Best estimatpr found:")
    print(" ",clf.best_estimator_)
    print()
    print("Grid scores on development set:")
    means = clf.cv_results_['mean_test_score']
    stds = clf.cv_results_['std_test_score']
    target_names = ['class 0', 'class 1', 'class 2']
    print(classification_report(y_true, y_pred, target_names=target_names))

## Methodology

### Algorithms

In [21]:

print('There will be 5 fold cross-validation to select the hyperparameters via a gridsearch')
print('The supervised machine learninf models are:\n', models)
print('The methods to evaluate model performances are: ', s_scores)

There will be 5 fold cross-validation to select the hyperparameters via a gridsearch
The supervised machine learninf models are:
 [('knn', KNeighborsClassifier()), ('dtree', DecisionTreeClassifier()), ('svm', SVC())]
The methods to evaluate model performances are:  {'ACC': 'accuracy', 'FSC': 'f1'}

In [140]:
numeric_features = ['age','hours-per-week','education-num']
categorical_features = ['workclass', 'marital-status', 'occupation','relationship', 'race', 'sex', 'native-country']

categorical_transformer = Pipeline(
    [
        ('imputer_cat', SimpleImputer(strategy = 'constant', fill_value = 'missing')),
        ('onehot', OneHotEncoder(handle_unknown = 'ignore'))
    ]
)
numeric_transformer = Pipeline(
    [
        ('imputer_num', SimpleImputer()),
        ('scaler', StandardScaler())
    ]
)
preprocessor = ColumnTransformer(
    [
        ('categoricals', categorical_transformer, categorical_features),
        ('numericals', numeric_transformer, numeric_features)
    ],
    remainder = 'drop'
)
params = [{'classifier':[KNeighborsClassifier()],
    'classifier__n_neighbors' : [1,3,5,10,20,30,50],
    'classifier__weights': ['uniform', 'distance'],
    'classifier__algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']}]
pipeline = Pipeline(
    [
        ('preprocessing', preprocessor),
        ('classifier', KNeighborsClassifier())
    ]
)
s_scores = ['f1', 'accuracy']

NameError: name 'SimpleImputer' is not defined

In [133]:
# define grid search parameters
folds=5
C = [1*(10**-5),1*(10**-4), 1*(10**-3),1*(10**-2), 1*(10**-1),1,10,1*(10**2),1*(10**3),1*(10**4),1*(10**5)]
gamma = [1, 0.1, 0.01, 0.001, 0.0001]

parameters=[
    #knn
    {'knn_n_neighbors' : [1,3,5,10,20,30,50],
    'knn__weights': ['uniform', 'distance'],
    'knn__algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
    'knn__preprocess':[StandardScaler(),'passthrough'],
    'knn__strategy': ['mean', 'median']},
    #dtree
    {'classifier':[DecisionTreeClassifier()],
    'classifier__min_samples_split': range(2, 403, 10),
    'classifier__criterion' : ['gini', 'entropy'],
    'classifier__max_depth' : [2,4,6,8,10,12],
    'classifier__strategy': ['mean', 'median']},
    {'classifier':[SVC()],
    'classifier__C': C, 
    'classifier__gamma': gamma, 
    'classifier__kernel': ['rbf','linear'],
    'classifier__strategy': ['mean', 'median']}
 ]

In [ ]:
names = []
scoring = 'accuracy'
for name, model in models:
	kfold = model_selection.KFold(n_splits=10, random_state=seed)
	cv_results = model_selection.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
	results.append(cv_results)
	names.append(name)
	msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
	print(msg)
# boxplot algorithm comparison
fig = plt.figure()
fig.suptitle('Algorithm Comparison')
ax = fig.add_subplot(111)
plt.boxplot(results)
ax.set_xticklabels(names)
plt.show()

### Trails

In [ ]:
from sklearn.learning_curve import learning_curve

fig, ax = plt.subplots(1, 2, figsize=(16, 6))
fig.subplots_adjust(left=0.0625, right=0.95, wspace=0.1)

for i, degree in enumerate([2, 9]):
    N, train_lc, val_lc = learning_curve()

    ax[i].plot(N, np.mean(train_lc, 1), color='blue', label='training score')
    ax[i].plot(N, np.mean(val_lc, 1), color='red', label='validation score')
    ax[i].hlines(np.mean([train_lc[-1], val_lc[-1]]), N[0], N[-1],
                 color='gray', linestyle='dashed')

    ax[i].set_ylim(0, 1)
    ax[i].set_xlim(N[0], N[-1])
    ax[i].set_xlabel('training size')
    ax[i].set_ylabel('score')
    ax[i].set_title('degree = {0}'.format(degree), size=14)
    ax[i].legend(loc='best'

## Conclusion

In [ ]:
# prepare configuration for cross validation test harness
seed = 7
for name, model in models:
	kfold = model_selection.KFold(n_splits=10, random_state=seed)
	cv_results = model_selection.cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
	results.append(cv_results)
	names.append(name)
	msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
	print(msg)
# boxplot algorithm comparison
fig = plt.figure()
fig.suptitle('Algorithm Comparison')
ax = fig.add_subplot(111)
plt.boxplot(results)
ax.set_xticklabels(names)
plt.show()